<ButtonDecorator Type="@Type" Intention="@Intention" TabIndex="@TabIndex" IsDisabled="@IsDisabled" OnClick="@OnClick">
    <div class="grid grid-flow-col auto-cols-auto justify-start items-center text-left gap-2 m-2">
        @if (!string.IsNullOrEmpty(IconName))
        {
            if (Intention == Intention.Remove)
            {
                <Icon Name="@IconName" Class="w-5 h-5 text-red-600"/>
            }
            else
            {
                <Icon Name="@IconName" Class="w-5 h-5"/>
            }
        }
        @Text
    </div>
</ButtonDecorator>